* {
    margin: 0;
    padding: 0;
    list-style: none !important;
    text-decoration: none !important;
}

body {
    height: fit-content;
    witdh:fit-content;
    margin-bottom:0
}

.header {
    height: 80px;
    display: flex;
    justify-content: center;
}

.header-container {
    height: 100%;
    width: 1450px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.search-container {
    background: white;
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 10px 20px;
    border: 3px solid #015593;
}

    .search-container input {
        border: none;
        outline: none;
    }

.menu {
    display: flex;
    gap: 45px;
}

    .menu a {
        color: #24262b;
        font-size: 23px;
        transition: 0.40s;
        font-family: 'Lato', sans-serif;
    }

        .menu a:hover {
            color: #015593;
        }



.footer {
    background-color: #24262b;
    padding: 70px 0;
    display: flex;
    height: 200px;
    justify-content: center;
}

.footer-container {
    width: 1450px;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.rows {
    display: flex;
    flex-direction: row;
}

.footer-col h4 {
    margin-bottom: 20px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    position: relative;
    color: #ffd600;
}


.footer-col ul li:not(:last-child) {
    margin-bottom: 20px;
}

.footer-col ul {
    padding-left: 0;
}

    .footer-col ul li a {
        font-size: 16px;
        text-transform: capitalize;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-weight: 500;
        transition: 0.40s;
    }

        .footer-col ul li a:hover {
            color: #ffd600;
        }

.fa-brands {
    color: white;
    transition: 0.40s;
}

.footer-col ul li:hover i {
    color: #ffd600;
}

.footer-col:last-child li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    font-size: 18px;
    background-color: gray;
    cursor: pointer;
    border-radius: 50%;
}

.footer-col:last-child ul {
    display: flex;
    gap: 20px;
}

#up-button {
    position: fixed;
    bottom: 35px;
    right: 35px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #015593;
    border: none;
    opacity: 0;
    transition: 0.20s;
    z-index: 3;
}

    #up-button i {
        font-size: 25px;
        color: white;
    }

.navbar {
    width: 200px;
    display: flex;
    justify-content: center;
    display: none;
}

#dropdown {
    display: flex;
    justify-content: center;
    background-color: #24262b;
    height: 0;
    transition: 0.20s;
    z-index: 2;
    position: absolute;
    width: 100%;
}

.dropdown-container {
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 0 30px 0;
}

    .dropdown-container a {
        color: white;
        font-family: 'Lato', sans-serif;
        font-size: 30px;
        overflow: hidden;
    }

@media only screen and (max-width: 1480px) {
    .header-container, .footer-container {
        width: 1200px;
    }

    .footer-container {
        width: 1200px;
    }
}

@media only screen and (max-width: 1260px) {
    .header-container, .footer-container {
        width: 1000px;
    }

    .menu a {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1040px) {
    .header-container {
        width: 900px;
    }

    .footer-container {
        width: 900px;
    }

    .menu a {
        font-size: 18px;
    }

    .logo img {
        width: 200px !important;
        height: 55px !important;
    }
}

@media only screen and (max-width: 970px) {
    .menu {
        display: none;
    }

    .navbar {
        display: flex;
        width: 150px;
    }

    .navbar {
        display: flex;
    }

    .footer-container, .header-container {
        width: 800px;
    }
}

@media only screen and (max-width: 850px) {
    .footer-container, .header-container {
        width: 700px;
    }

    .dropdown-container {
        width: 700px;
    }

    .rows {
        flex-direction: column;
        gap: 30px;
    }

    .footer {
        height: max-content;
    }

    .footer-col {
        display: flex;
        width: max-content;
        flex-direction: column;
    }

        .footer-col h4 {
            font-size: 40px;
            margin-bottom: 30px;
        }

        .footer-col ul li {
            font-size: 45px;
            line-height: 32px;
        }
}

@media only screen and (max-width: 790px) {
    .footer-container, .header-container {
        width: 600px;
    }

    .dropdown-container {
        width: 600px;
    }

    .search-container {
        display: none;
    }
}

@media only screen and (max-width: 720px) {
    .footer-container, .header-container, .dropdown-container {
        width: 500px;
    }

        .dropdown-container a {
            font-size: 25px;
        }
}

@media only screen and (max-width: 550px) {
    .footer-container, .header-container, .dropdown-container {
        width: 450px;
    }
}

@media only screen and (max-width: 500px) {
    .footer-container, .header-container, .dropdown-container {
        width: 390px;
    }
}


@media only screen and (max-width: 450px) {
    .footer-container, .header-container, .dropdown-container {
        width: 340px;
    }

    .logo img {
        width: 150px !important;
        height: 35px !important;
    }
}

@media only screen and (max-width: 390px) {
    .footer-container, .header-container, .dropdown-container {
        width: 300px;
    }
}
