<section class="Slider">
    <div class="swiper">
        <div class="swiper-wrapper">

            <div class="swiper-slide" data-aos="fade-up-right">
                <div class="slide-container">
                    <div class="left">
                        <img src="~/Imgs/doseme-alti-priz-kutusu-01.png" alt="" style="width: 574px;height: 620px;object-fit: contain">
                    </div>

                    <div class="right">
                        <h1 class="font1">Döşeme Altı Priz Kutusu</h1>
                    </div>
                </div>
            </div>

            <div class="swiper-slide" data-aos="fade-up-right">
                <div class="slide-container">
                    <div class="left">
                        <img src="~/Imgs/priz-kutusu-01.png" alt="" style="width: 574px;height: 620px;object-fit: contain">
                    </div>

                    <div class="right">
                        <h1 class="font1">Döşeme Altı <br> Priz Kutusu</h1>
                    </div>
                </div>
            </div>

            <div class="swiper-slide" data-aos="fade-up-right">
                <div class="slide-container">
                    <div class="left">
                        <img src="~/Imgs/panel-radyator-parcalari.png" alt="" style="width: 574px;height: 620px;object-fit: contain;">
                    </div>

                    <div class="right">
                        <h1 class="font1">Döşeme Altı <br> Priz <br> Kutusu</h1>
                    </div>
                </div>
            </div>
            ...
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>

<section class="About">
    <div class="about">
        <div class="about-container">
            <div class="about-top">
                <h1 class="font2">About Us</h1>
            </div>

            <div class="about-bottom">
                <p class="paragraph-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam aspernatur fuga amet quod id incidunt odio, consequuntur, ipsam repellendus tempore, accusantium non veniam dolorum iusto repellat. Sequi nesciunt iste harum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam vitae placeat facilis laudantium ipsum nulla repellat provident esse deleniti sed culpa dolore eum vel optio autem quo sequi, animi at. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga laboriosam accusantium nulla similique officiis autem beatae dolore iste qui excepturi aperiam, numquam incidunt molestias omnis quos tempore consectetur quas quisquam!</p>
            </div>
        </div>
    </div>
</section>

<section class="Product">
    <div class="products">
        <div class="products-container">
            <div class="product-top">
                <h1 class="font2">Products</h1>
            </div>

            <div class="product-bottom">

                <div class="product-items" data-aos="zoom-in">
                    <div class="product-item-left">
                        <img src="~/Imgs/pano-rack-kabin-aksesuarlari.jpg" alt="" style="height:290px;width: 220px;object-fit: cover;">
                    </div>

                    <div class="product-item-right">
                        <h2 class="font3">Pano ve Rack Kabin Aksesuarları</h2>
                        <p> Pano ve Rack Kabin Aksesuarları fndbgybds dsnganiugns sdugnisagn nsdfuisa</p>
                    </div>
                </div>

                <div class="product-items" data-aos="zoom-in">
                    <div class="product-item-left">
                        <img src="~/Imgs/panel-radyator-parcalari.jpg" alt="" style="height:290px;width: 220px;object-fit: cover;">
                    </div>

                    <div class="product-item-right">
                        <h2 class="font3">Panel Radyatör Parçaları</h2>
                        <p> Pano ve Rack Kabin Aksesuarları fndbgybds dsnganiugns sdugnisagn nsdfuisa</p>
                    </div>
                </div>

                <div class="product-items" data-aos="zoom-in">
                    <div class="product-item-left">
                        <img src="~/Imgs/doseme-alti-priz-sistemleri.jpg" alt="" style="height:290px;width: 220px;object-fit: cover;">
                    </div>

                    <div class="product-item-right">
                        <h2 class="font3">Döşeme Altı Priz Sistemleri</h2>
                        <p> Pano ve Rack Kabin Aksesuarları fndbgybds dsnganiugns sdugnisagn nsdfuisa</p>
                    </div>
                </div>

                <div class="product-items" data-aos="zoom-in">
                    <div class="product-item-left">
                        <img src="~/Imgs/masaustu-priz-sistemleri.jpg" alt="" style="height:290px;width: 220px;object-fit: cover;">
                    </div>

                    <div class="product-item-right">
                        <h2 class="font3">Masaüstü Priz Sistemleri</h2>
                        <p> Pano ve Rack Kabin Aksesuarları fndbgybds dsnganiugns sdugnisagn nsdfuisa</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>