@section Styles {
    <link rel="stylesheet" href="~/css/productDetails.css">
   
}

<section class="Product">
    <div class="product">
        <div class="product-container">
            <div class="product-left" data-aos="fade-right" data-aos-duration="800" data-once="true">
                <div class="swiper">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide"><img src="~/Imgs/pano-rack-1-800x530.jpg" class="product-img" alt=""></div>
                        <div class="swiper-slide"><img src="~/Imgs/img_7oooblbt09-640x530.jpg" class="product-img" alt=""></div>

                    </div>
                    <div class="swiper-pagination"></div>

                </div>
            </div>

            <div class="product-right" data-aos="fade-left" data-aos-duration="800" data-once="true">
                <h3 class="font1">SWE||SYSTEM</h3>
                <h1 class="font2">Cam Tutturma Elemanı Köşe Parça</h1>
                <p class="paragraph-font">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quasi inventore tempora eveniet obcaecati quisquam fugit, delectus quidem veritatis neque possimus dolores impedit cupiditate id, totam quibusdam molestiae ratione similique.</p>
                <div class="buttons">
                    <button class="pdf-button">PDF <i class="fa-solid fa-file-arrow-down effect"></i></button>
                    <button class="buy-button">BUY <i class="fa-solid fa-cart-shopping effect"></i></button>
                </div>
            </div>


        </div>
    </div>
</section>