@section Styles {
    <link rel="stylesheet" href="~/css/products.css">
    
}

<section class="Product">
    <div class="products">
        <div class="products-container">
            <div class="product-top">
                <h1 class="font2" data-aos="fade-up" data-aos-duration="800">Products</h1>
            </div>

            <div class="product-bottom">

                <div class="product-items" data-aos="zoom-in" data-aos-duration="800">
                    <div class="product-item-left">
                        <img src="~/Imgs/pano-rack-kabin-aksesuarlari.jpg" alt="">
                    </div>

                    <div class="product-item-right">
                        <h2 class="font3">Döşeme Altı Priz Sistemleri</h2>
                        <p> Pano ve Rack Kabin Aksesuarları fndbgybds dsnganiugns sdugnisagn nsdfuisa</p>
                    </div>
                </div>

                <div class="product-items" data-aos="zoom-in" data-aos-duration="800">
                    <div class="product-item-left">
                        <img src="~/Imgs/panel-radyator-parcalari.jpg" alt="">
                    </div>

                    <div class="product-item-right">
                        <h2 class="font3">Döşeme Altı Priz Sistemleri</h2>
                        <p> Pano ve Rack Kabin Aksesuarları fndbgybds dsnganiugns sdugnisagn nsdfuisa</p>
                    </div>
                </div>

                <div class="product-items" data-aos="zoom-in" data-aos-duration="800">
                    <div class="product-item-left">
                        <img src="~/Imgs/doseme-alti-priz-sistemleri.jpg" alt="">
                    </div>

                    <div class="product-item-right">
                        <h2 class="font3">Döşeme Altı Priz Sistemleri</h2>
                        <p> Pano ve Rack Kabin Aksesuarları fndbgybds dsnganiugns sdugnisagn nsdfuisa</p>
                    </div>
                </div>

                <div class="product-items" data-aos="zoom-in" data-aos-duration="800">
                    <div class="product-item-left">
                        <img src="~/Imgs/masaustu-priz-sistemleri.jpg" alt="">
                    </div>

                    <div class="product-item-right">
                        <h2 class="font3">Masaüstü Priz Sistemleri</h2>
                        <p> Pano ve Rack Kabin Aksesuarları fndbgybds dsnganiugns sdugnisagn nsdfuisa</p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>